
/* muzammil start */
.contmz1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    margin-left: 100px;
    background-color: #fffcfc;
    /* border: 1px solid black; */
}

.mainmz1 h1 p {
    margin-top: 50px;
    font-family: "Graphik Meetup", "system-ui", Helvetica, Arial, sans-serif;
    font-weight: 400vh;
    font-size: 16px;
    line-height: 24px;
    /* margin-left: 70px; */
    width: 40%;
}

.mainmz1 {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    column-gap: 50px;
    row-gap: 50px;

}

.mainmz1 button {
    color: black;
    background-color: rgb(100, 163, 175);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3c909f;
}

.imgmz1 {
    margin-top: 50px;
    width: 50%;
    margin-left: 70px;

}

/* muzammil end */