
/* muzammil start */
.contmz1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    margin-left: 100px;
    background-color: #fffcfc;
    /* border: 1px solid black; */
}

.mainmz1 p {
    margin-top: 50px;
    font-family: "Graphik Meetup", "system-ui", Helvetica, Arial, sans-serif;
    font-weight: 400vh;
    line-height: 24px;
    /* width: 40%; */
    font-size: 14px;
    color: #666;
}

.mainmz1 h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.mainmz1 {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    column-gap: 50px;
    row-gap: 50px;
}

.mainmz1 button {
    color: black;
    background-color: #ff692e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
}

button:hover {
    background-color: #000000
}

.imgmz1 {
    margin-top: 50px;
    width: 50%;
    margin-left: 70px;

}

/* 1 */

h2 {
    margin-top: 40px;
    margin-left: 100px;
    font-family: "Graphik Meetup", "system-ui", Helvetica, Arial, sans-serif;
    font-weight: 400vh;
    font-size: 24px;
    line-height: 32px;
}

.container2mz {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: 100px;
    gap: 20px;
    margin-top: 40px;
}

.cardmz {
    flex: 0 1 calc(50% - 10px);
    border: 1px solid #ff692e;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    display: block;
}

.cardmz:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fffdf9;

}

.cardmz h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.cardmz p {
    font-size: 14px;
    color: #666;
}

/* 2 */

/* muzammil end */